.customerMain{
    /* border: 1px solid black; */
    padding: 10px;
}
.contactUs{
    font-size: 20px;
    font-weight: 500;
}
.emailDiv{
    display: flex;
    gap: 25px;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}
.emailName{
    font-size: 15px;
    font-weight: 400;
}
.chatDiv{
    display: flex;
    gap: 25px;
    padding: 20px;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}