.loadingMain{
    /* border: 1px solid red; */
    margin-left: 80px;
}

.skeleton_blog{
    animation: scale 4s infinite;
}
@keyframes scale {
    0% {transform: scale(0.9)}
    100% {transform: scale(1)}
 }
  
.skeleton_image{
    height: 300px;
    width: 220px;
    background: #E5E4E2;
    /* margin-top: 90px; */
}

.skeleton_blog2{
    animation: scale 4s infinite;
}
.skeleton_image2{
    height: 750px;
    width: 200px;
    background: #E5E4E2;
}



   