.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.Input[type=text], .Input[type=email], .Input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}

.signupbtn[type=submit] {
    background-color: #ff3269;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.signupbtn[type=submit]:hover {
    background-color: #fd6e94;
}

label {
    font-size: 18px;
    font-weight: bold;
}

.signupBox{
    /* border: 1px solid black; */
    padding: 20px 20px 20px 0px;
}
.signupBox>p{
    font-weight: 700;
}
.signupBox>p>a:hover{
    color: #fd6e94;
}

.signGoogle{
    background-color: #edf2f7;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.signGoogle:hover{
    background-color: #f2f5f8;
}

.error {
    color: red;
    /* background-color: lightsalmon; */
    padding: 5px;
    margin: 10px;
    font-weight: bold;
  }
